#c {
	background:#FFF;
	margin:10px;
    font-family:sans-serif;
    margin-top: 60px;
}
#sec{
	background:url(../images/bg.jpg);
	width:200px;
	height:500px;
	position:relative;
	overflow:hidden;
}
#sec-description{
	position:absolute;
	color:#FFF;
	box-sizing:border-box;
	padding:0 30px;
	z-index:20;
	-webkit-transform-style: preserve-3d;
}
h1{
	font-size:48px;
	-webkit-backface-visibility: hidden;
}
p{
	font-size:14px;
	-webkit-backface-visibility: hidden;
}
#polygon{
	fill:#34495E;
	stroke-width:0;
}
#sec svg{
	transition:all .5s;
	-webkit-transition:all .5s;
}
#sec:hover svg{
	opacity:.9;
	transform: translateY(-30px);
	-webkit-transform: translateY(-30px);
}

