ul{
    list-style: none;
}

#login{
    padding-top: 5em;
    padding-bottom: 5em;
    background: url(../images/black\ hote.png) no-repeat;
}

#login .row{
    margin-top: 2em;
}

#login h3{
    text-align: center;
    color: aliceblue;
}

#login .card-login{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}

#login .card-login label{
    color: aliceblue;
}

#login .col-md-5{
    margin: 0 auto;
    padding: 0 auto;
}

#login .col-md-5 h1{
    color: aliceblue;
}

#login .col-md-5 p{
    color: #ddd;
}

#login .login h1{
    padding-top: 2em;
}


/* 注册页面 */
#login .register h1{
    padding-top: 5em;
}
