#read_statistics {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
    margin-top: 6em;
    margin-bottom: 6em;
}

.hot-data{
    text-align: center;
    margin-top: 2em;
}

.hot-data ul li{
    list-style: none;
}