a{
    color: rgb(81, 129, 172);
}

h3{
    color: aliceblue;
}

#read_statistics {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
    padding-top: 2em;
    margin-bottom: 2em;
}

.hot-data{
    text-align: center;
    margin-top: 2em;
}

.hot-data ul li{
    list-style: none;
    color: rgb(81, 129, 172);
}

.read_statistics_body{
    padding-top: 5em;
    background: url(../images/house.png) center center no-repeat;
}
