{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block header_extends %}
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{# 页面内容#}
{% block content %}
{#  图表容器 DOM #}

<div id="read_statistics"></div>
{# 今天24小时内的热门博客 #}
<div>
    <h3>今天热门博客</h3>
    <ul>
        {% for hot_data in today_hot_data %}
            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>
                ({{ hot_data.read_num }})</li>
        {% empty %}
            <li>今天没有热门博客</li>
        {% endfor %}    
    </ul>
</div>

{# 昨天24小时内的热门博客 #}
<div>
    <h3>昨天热门博客</h3>
    <ul>
        {% for hot_data in yesterday_hot_data %}
            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>
                ({{ hot_data.read_num }})</li>
        {% empty %}
            <li>昨天没有热门博客</li>
        {% endfor %}    
    </ul>
</div>

{# 七天内的热门博客 #}
<div>
    <h3>七天内热门博客</h3>
    <ul>
        {% for hot_blog in week_hot_blogs %}
            <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>
                ({{ hot_blog.read_num_sum }})</li>
        {% empty %}
            <li>七天内没有热门博客</li>
        {% endfor %}    
    </ul>
</div>

{# 三十天内的热门博客 #}
<div>
    <h3>三十天内热门博客</h3>
    <ul>
        {% for hot_blog in month_hot_blogs %}
            <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>
                ({{ hot_blog.read_num_sum }})</li>
        {% empty %}
            <li>三十天内没有热门博客</li>
        {% endfor %}    
    </ul>
</div>

<script>
        // 图表配置
        var options = {
            chart: {type: 'line' },                //指定图表的类型，默认是折线图（line）
            title: {text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: '前7日阅读量统计' },
            },
            yAxis: {
                title: {text: null},
                labels: { enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }},                 // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },              // 图例
            credits: { enabled: false },             // 版权信息
        };
        // 图表初始化函数
        var chart = Highcharts.chart('read_statistics', options);
</script>
{% endblock %}