{% extends 'base.html' %}

{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{# 页面内容#}
{% block content %}
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{ blog.title }}</h3>
                            <div class="blog-info-description">
                                <ul>
                                    <li>作者：{{ blog.author }}</li>
                                    <li>分类：
                                            <a href=" {% url 'blogs_with_type' blog.blog_type.pk %} ">{{ blog.blog_type }}</a>
                                    </li>
                                    <li>发表日期：{{ blog.created_time|date:"Y-m-d H:i" }}</li>
                                    <li>阅读：{{ blog.get_read_num }}</li>
                                </ul>
                            </div>
                            <div class="blog-content">{{ blog.content|safe }}</div>
                            <div class="blog-more">
                                <p>上一篇：
                                    {% if previous_blog %}
                                        <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                                    {% else %}
                                        这已经是第一篇了
                                    {% endif %}
                                </p>
                                <p>下一篇：
                                    {% if next_blog %}
                                        <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                                    {% else %}
                                        这已经是最后一篇了
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="comment-area">
                        <h3 class="comment-area-title">提交评论</h3>
                        {% if user.is_authenticated %}
                            <form action="{% url 'update_comment' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>{{ user.username }}, 欢迎评论！</label>
                                    <textarea id="comment_text" class="form-control" name="text" rows="5"></textarea>
                                </div>
                                <input type="hidden" name="object_id" value="{{ blog.pk }}">
                                <input type="hidden" name="content_type" value="blog">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                        {% else %}
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">用户名</label>
                                    <input type="username" name="username" class="form-control" id="username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="Password">密码</label>
                                    <input type="password" name="password" class="form-control" id="Password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">登录</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="comment-area">
                        <h3 class="comment-area-title">评论列表</h3>
                        {% for comment in comments %}
                            <div>
                                {{ comment.user.username }}
                                {{ comment.comment_time|date:"Y-m-d H:i" }}
                                {{ comment.text }}
                            </div>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}