{% extends 'base.html' %}

{% block title %}
    个人资料|郑州工商论坛
{% endblock %}

{% block nav_user_info_active %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <br>
            <br>
            <br>
            <br>
            <br>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="form-group">
                    <label for="blog_type">分类</label>
                    <select class="form-control" id="blog_type" name="blog_type">
                        <option value="none">请选择分类..</option>
                        {% for blog_type in blog_types %}
                            <option value="{{ blog_type.id }}">{{ blog_type.type_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="content">文章正文</label>
                    <textarea type="text" class="form-control" id="content" name="content" rows="12"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}