{% extends 'base.html' %}
{% load static %}
{% load likes_tags %}

{% block nav_blog_active %}active{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}动态列表|郑州工商论坛{% endblock %}

{# 页面内容#}
{% block content %}
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-10">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">最新动态</h4>
                            <hr>
                            {% for blog in page_of_blogs.object_list %}
                                <a href="{% url 'blog_detail' blog.pk%}">
                                    <h3>{{ blog.title }}</h3>
                                </a>
                                <p class="blog-info">
                                    分类：<a href=" {% url 'blogs_with_type' blog.blog_type.pk %} ">
                                            {{ blog.blog_type }}
                                        </a>
                                    &nbsp;&nbsp;<span>{{ blog.author }}</span>
                                    &nbsp;&nbsp;发表日期：{{ blog.created_time|date:"Y-m-d H:i" }}
                                    &nbsp;&nbsp;阅读：{{ blog.get_read_num }}
                                    &nbsp;&nbsp;点赞: {% get_like_count blog %}
                                </p>
                                {# 文本内容只显示前120个字符 #}
                                <p class="blog-content">
                                    {% if blog.content|length > 120 %}
                                        {{ blog.content|striptags|slice:":120" }}...
                                    {% else %}
                                        {{ blog.content }}
                                    {% endif %}
                                    <hr>
                                </p>
                            {% empty %}
                                <h3>-- 暂无内容，敬请期待! --</h3>
                            {% endfor %}
                            
                            
                        </div>
                    </div>

                    {# 分页器 #}
                    <div class="paginator">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        {# 上一页 #}
                                        {% if page_of_blogs.has_previous %}
                                            <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        {% else %}
                                            <span aria-hidden="true">&laquo;</span>
                                        {% endif %}
                                    </li>
                                        {# 全部页码 #}
                                        {% for page_num in page_range %}
                                            {% if page_num == page_of_blogs.number %}
                                                <li class="active"><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                            {% else %}
                                                {% if page_num == "..." %}
                                                    <li><span>{{ page_num }}</span></li>
                                                {% else %}
                                                    <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {# 下一页 #}
                                    <li>
                                        {% if page_of_blogs.has_next %}
                                            <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        {% else %}
                                            <span aria-hidden="true">&raquo;</span>
                                        {% endif %}
                                    </li>
                                </ul>
                                <p><span id="pagination-info">
                                    共有{{ page_of_blogs.paginator.count }}篇博客,
                                    当前第{{ page_of_blogs.number }}页，共{{  page_of_blogs.paginator.num_pages }}页
                                </span></p>
                            </nav>
                        </div>
                </div>

                <div class="d-none d-sm-block col-md-4 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">博客分类</h4>
                            <hr>
                            <ul>
                                {% for blog_type in blog_types %}
                                    <li>
                                        <a href=" {% url 'blogs_with_type' blog_type.pk %} ">
                                            {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>
                                        暂无分类
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="d-none d-sm-block">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">日期归档</h4>
                                <hr>
                                <ul>
                                    {% for blog_date, blog_count in blog_dates.items %}
                                        <li>
                                            <a href="{% url 'blog_with_date' blog_date.year blog_date.month %}">
                                                {{ blog_date|date:"Y.m" }} ({{ blog_count }})
                                            </a>
                                        </li>
                                    {% empty %}
                                        <li>
                                            暂无归档
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
{% endblock %}


